#root, html, body{
  height:100vh;
}

body{
  margin:0;
  background-image: url(./Assets/back2.d744cdeb.jpg);
  background-size: cover;
  justify-content: center;
  font-family: "Raleway",sans-serif;
}

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}